* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    width: 100%;
}

.discount-text,
.copyright {
    height: 60px;
    width: 100%;
    background: #181818;

    color: #F9F9F9;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin-top: 100px;
}

.header-title {
    height: 60px;
    width: 100%;

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #181818;


    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    color: #f9f9f9;
}

.header-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/wallpaper.jpeg) no-repeat;

    background-size: cover;
    height: 40vh;

    display: flex;
    align-items: center;
}

.header-image-title {
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 16px;


}

.header-image-subtitle {
    margin-left: 20px;

    font-size: 1rem;
    font-weight: 500;
    line-height: 160%;

}

.content-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 30px 20px;
}

.content-card {
    height: 302px;
    width: 415px;
    background: #EBE9EA;

    display: flex;
    justify-content: center;
    align-items: center;
}


.content-card img {
    width: 250px;
    height: 150px;
}

.content-text {
    padding: 65px;
    color: #181818;

    display: flex;
    gap: 17px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-title {
    font-weight: 600;
    font-size: 32px;
}

.content-subtitle {
    font-weight: 500;
    font-size: 20px;
}